<app-page-layout [showBackButton]="false">
  <h1 header>Settings</h1>
  <p subtitle>Here you can edit Sentinel settings</p>
  <p-tabs body [value]="activeRoute()">
    <p-tablist>
      @for (tab of tabs; track tab.route) {
        <p-tab
          [routerLink]="tab.route"
          [value]="tab.route"
          class="flex items-center gap-2! text-inherit"
        >
          <i [class]="tab.icon"></i>
          <span>{{ tab.label }}</span>
        </p-tab>
      }
    </p-tablist>
    <div class="pt-4">
      <router-outlet></router-outlet>
    </div>
  </p-tabs>
</app-page-layout>
