<div>
  <p-float-label variant="on">
    @if (type() === 'password') {
      <p-icon-field>
        @if (icon()) {
          <p-inputicon [class]="`pi ${icon()}`"></p-inputicon>
        }
        <p-password
          fluid
          [invalid]="isInvalid()"
          [formControl]="control()"
          [toggleMask]="true"
          [feedback]="false"
          [id]="getId()"
        />
      </p-icon-field>
    } @else {
      <p-iconfield>
        @if (icon()) {
          <p-inputicon [class]="`pi ${icon()}`"></p-inputicon>
        }
        <input
          [type]="type()"
          pInputText
          fluid
          [invalid]="isInvalid()"
          [formControl]="control()"
          [id]="getId()"
        />
      </p-iconfield>
    }

    @if (label()) {
      <label class="font-base text-xs tracking-widest" [id]="getId()">{{ label() }}</label>
    }
  </p-float-label>
  @if (isInvalid()) {
    <p-message severity="error" size="small" variant="simple"> {{ getErrorMessage() }}</p-message>
  }
</div>
